# .github/workflows/main.yml
name: CI
on:
  push:
    branches: [ main ]
  # pull_request:
  #   branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install NPM dependencies
        run: npm install
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Download `.serverless` state from S3
        run: aws s3 sync s3://tony-webapp-sls-prod-state/.serverless .serverless --delete 

      - name: Download `serverless.yml` state from S3  
        run: aws s3 cp s3://tony-webapp-sls-prod-state/serverless.yml serverless.yml

      - name: Deploy Next.js app
        run: npx serverless
            
      - name: Upload `.serverless` state to S3
        run: aws s3 sync .serverless s3://tony-webapp-sls-prod-state/.serverless --delete 
      